.forgot-password-container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

 .forgot-password-container h2 {
    color: #333;
    margin-top: 150px;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 30px;
}

.forgot-password-container p{
    font-size: 2rem;
}

.forgot-password-container select,
.forgot-password-container input[type="text"],
.forgot-password-container input[type="email"],
.forgot-password-container input[type="tel"],
.forgot-password-container button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}



.forgot-password-container select {
    appearance: none;
}

.forgot-password-container label {
    font-weight: bold;
    color: #555;
    font-size: 1.3rem;
    
    padding: 10px;
}

.forgot-password-container button {
    background-color: orangered;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
}

.forgot-password-container button:hover {
    background-color: #0056b3;
}

.choose-option p{
    text-align: center;
}