/* MAKING THE HEADER RESPONSIVE */
@media (max-width: 768px) {
    /* Hide Desktop Navbar on Small Screens */
    .desktop-navbar {
        display: none;
    }

    /* Show Mobile View on Small Screens */
    .mobile-view {
        display: block;
    }

    /* Display the menu icon in the mobile view */
    .mobile-view .menu-icon {
        display: block;
    }

    /* Override the display property for .header .icons div --- I user !important to override the display:none from the base.css*/
    .header .icons div {
        display: block !important;
    }
}
/* end of the header responsiveness */


/**** WORKING ON THE INDEX VIEW RESPONSIVENESS */

/*** The hero and search form ection */
@media (max-width: 768px) {
    
    .hero-section .hero-content #home-title {
        font-size: 2rem;  
        text-align: center; 
       
    }

    .search-hero-container {
       
        align-items: stretch; 
        padding: 10px;
        max-width: 100%;
        transform: translate(-50%, -70%);
    }

    .search-form input {
        width: 100%; 
    }

    .choose-user select {
        padding: 3px;
    }

    .highlight {
        max-width: 100%;
    }

    .highlight img{
        width: 100%;
    }


    .db-user h3{
        font-size: 2.3rem;
        text-align: center;
        text-transform: uppercase;
        margin-top: 25px;
    }

    .db-data-container,
    .db-container {
        flex-direction: column; 
        align-items: stretch; 
        padding: 10px;
    }

    .db-image img {
        max-width: 100%;
    }

    .user-details {
        padding: 10px 0; 
    }
    
    .business-category-section,
    .show-items-container,
    .txt-browse-items-link,
    .people-container{
        flex-direction: column;
        align-items: stretch; 
        padding: 10px;
    }

    .show-items-container,
    .txt-browse-items-link p, 
    .txt-browse-items-link i{
        align-items: center;
        font-size: 2.4rem;
    }

    .item-list-ads img {
        max-width: 100%;
        margin-top: 0; 
        padding-right: 0; 
    }

  

    .business-category-items,
    .item-list {
        grid-template-columns: repeat(2, 1fr); 
    }

    .business-post-category{
        margin-top: 50px;
        font-size: 2rem;
    }
    
    .category-item {
        margin: 10px 0; 
    } 

    .maximize,
    .registration {
        flex-direction: column;
        text-align: center;
        padding: 1rem 5%; 
    }

     /* Adjust styles for smaller screens here */
    #txt-package{
        font-size: 2rem;
    }
    .package-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    
}

/**** START END OF WORKING ON THE INDEX VIEW RESPONSIVENESS */


/* THE ABOUT PAGE RESPONSIVENESS */
@media (max-width: 768px) {
    .hero-section .hero-content h3{
        font-size: 5rem;
    }

    .get-in-touch-container{
        display: block;
    }
}
/* END OF THE ABOUT PAGE RESPONSIVENESS */


/* START OF THE BUSINESS, REGISTER  AND CONTACT PAGE RESPONSIVENESS */
@media(max-width:768px){
    #txt-biz{
        font-size: 2.5rem !important;
    }

    .db-business-category{
        display: none;
    }

    .get-in-touch-container{
        margin-top: 60px;
    }

    .register-container{
       max-width: 100%;
    }
}
/* END OF THE BUSINESS PAGE RESPONSIVENESS */




/* The FOOTER Responsiveness styles for smaller screens */
@media (max-width: 768px) {
    .footer-contents {
        flex-direction: column;
    }

    .about-us,
    .quick-links,
    .services,
    .contact-us {
        text-align: center;
    }

    .about-us,
    .quick-links,
    .services,
    .contact-us {
        margin-bottom: 1.5rem;
    }
}


.copyright{
    text-align: center;
    background: darkblue;
    padding: 20px;
    color: white;
    font-size: 1.6rem;
}


/***** DASHBOARD RESPONSIVENESS *****/
/* Responsive Styles */
@media (max-width: 768px) {
    .user-profile-container {
        margin: 150px auto;
        padding: 10px;
    }

    .user-account-info h3 {
        font-size: 2rem;
        margin-top: 15px;
    }

    .user-profile-container img {
        height: 150px;
        width: 150px;
    }

    .user-contact {
        font-size: 1.8rem;
    }

    .user-links a {
        font-size: 1rem;
    }
}


/* ===== AUTHENTICATION ==== */
@media (max-width: 768px) {
    .e-image{
        margin-top: 200px;
    }
}








