
.get-in-touch-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background: gray;
    padding: 2rem 7%;
}



.txt-get-touch {
    flex: 1;
    padding: 20px;
    font-size: 2rem;
    color: black;
}

.txt-get-touch a{
    
    font-size: 6rem;
    color: darkblue;
}



.form-get-in-touch {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    margin-top: 160px;
}

.form-group {
    margin-bottom: 15px;
}

 .form-get-in-touch label {
    display: block;
    margin-bottom: 5px;
}

.form-get-in-touch input[type="text"], 
 .form-get-in-touch [type="email"],
 .form-get-in-touch textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form-get-in-touch button {
    background-color: orangered;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
}

 .form-get-in-touch button:hover {
    background-color: #0056b3;
}
