@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

                                    /* STYLING THE WEBVIEW AND BROWSERS PERFORMANCE---- Adewale */
:root{
    --main-color: rgb(4, 4, 68);
    --black:#13131a;
    --border:.1rem solid #fff;
    --background-color: orangered;
    --background-color-hover: rgb(58, 58, 226);
}

*{
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}


html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}


section{
    padding: 2rem 7%;
}


p{
    font-size: 1.5rem;
}

