body{
    background: rgb(216, 202, 202);
}

.user-profile-container{
    display: flex;
    justify-content: space-around;
    margin: 200px auto;
    max-width: 800px;
    background: white;
    border-radius: 20px;
}

.user-profile-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 10px;
}

.user-profile-container a{
    font-size: 2rem;
    background: orangered;
    color: wheat;
    padding: 10px;
    border-radius: 6px;
}

.user-account-info h3{
    text-align: center;
  
    font-size: 2.3rem;
}

.user-account-info p{
    font-size: 1.6rem;
    text-align: center;
    margin: 15px;
}

.user-data h1{
    font-size: 2.2rem;
    margin-top: 5px;
    text-transform: uppercase;
}

.user-contact {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px; 
    font-size: 2rem;
    margin: 15px;
}


.auy{
    margin: 20px;
}

.user-links {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 2rem;
}


/****** DASHBOARD CONTAINER STYLES *****/
/* Overall dashboard container */
.dashboard-container {
    display: flex;
    height: 100vh; 

    
    margin-top: 90px;
}



/* Sidebar navigation */
.dashboard-sidebar-nav {
    flex: 1;
    background-color: var(--main-color);
    color: #fff;
    padding: 20px;
    max-width: 15%; 
    height: 100%;
    overflow-y: auto;
}


.dashboard-nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.dashboard-nav-item i {
    font-size: 1.5rem;
    margin-right: 10px;
    color: gray;
}

.dashboard-nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-size: 1.7rem;
}

.dashboard-section {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    color: #333;
    height: 100%; 
    overflow-y: auto; 
    margin-top: 90px;
}


/**** STYLING THE ALERT FOR THE SWITCH ACCOUNT BTN IN THE DASHBOARDS **/
/* Style for the custom alert */

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    text-align: center;
}

.custom-alert h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.custom-alert form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-alert label {
    font-size: 1.2rem;
    margin: 5px 0;
}


.custom-alert .alert-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-alert .cancel-button {
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 10px; 
}

.custom-alert .cancel-button:hover {
    background-color: #999;
}

.custom-alert button {
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: var(--main-color);
}


/*** STYLE THE IFRAME CONTAINER IN THE DASHBOARD ***/
/* Style the iframe to occupy the whole width */
#content-frame {
    width: 90%;
    border: none; /* Remove the iframe border */
   
}


/***** CREATE A NEW PORTFOLIO STYLES ****/
/* Unique class names for the form */

.form-portfolio {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-data span{
    color: red;
}


.form-portfolio label {
   
    font-weight: bold;
    margin-bottom: 5px;
}

.form-portfolio input[type="text"],
.form-portfolio input[type="email"],
.form-portfolio input[type="tel"],
.form-portfolio select,
.form-portfolio input[type="file"],
.form-portfolio input[type="number"],
.form-portfolio input[type="radio"],
.form-portfolio input{
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-portfolio select {
    height: 40px;
    width: 20%;
    
}

.form-portfolio button[type="submit"] {
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.form-portfolio button[type="submit"]:hover {
    background-color: #ff4500;
}
.language {
    margin-bottom: 15px;
}

.language label {
    display: inline-block; /* Display labels inline */
    font-weight: bold;
    margin-right: 10px; /* Add spacing between label and checkbox */
    margin-bottom: 5px;
}

.language input[type="checkbox"] {
    display: inline-block; /* Display checkboxes inline */
    margin-right: 5px;
    margin-bottom: 5px;
}


.user-data .file-label {
    position: relative;
    overflow: hidden;
}

.user-data .file-label span {
    display: inline-block;
    padding: 10px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.user-data .file-label input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
