body{
    background: rgb(216, 202, 202);
}

.user-profile-container{
    display: flex;
    justify-content: space-around;
    margin: 200px auto;
    max-width: 800px;
    background: white;
    border-radius: 20px;
}

.user-profile-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 10px;
}

.user-profile-container a{
    font-size: 2rem;
    background: orangered;
    color: wheat;
    padding: 10px;
    border-radius: 6px;
}

.user-account-info h3{
    text-align: center;
  
    font-size: 2.3rem;
}

.user-account-info p{
    font-size: 1.6rem;
    text-align: center;
    margin: 15px;
}

.user-data h1{
    font-size: 2.2rem;
    margin-top: 5px;
    text-transform: uppercase;
}

.user-contact {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px; 
    font-size: 2rem;
    margin: 15px;
}


.auy{
    margin: 20px;
}

.user-links {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 2rem;
}


/****** DASHBOARD CONTAINER STYLES *****/
/* Overall dashboard container */
.dashboard-container {
    display: flex;
    height: 100vh; 
}

/* Sidebar navigation */
.dashboard-sidebar-nav {
    flex: 1;
    background-color: var(--main-color);
    color: #fff;
    padding: 20px;
    max-width: 15%; 
    height: 100%;
    overflow-y: auto;
}


.dashboard-nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.dashboard-nav-item i {
    font-size: 1.5rem;
    margin-right: 10px;
    color: gray;
}

.dashboard-nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-size: 1.7rem;
}

.dashboard-content {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    color: #333;
    height: 100%; 
    overflow-y: auto; 
}
