
/* ===== THE INDEX PAGE STYLE ==== */

/* Style the hero section */
.hero-section {
    background: url(/images/highrise-bld.jpg) no-repeat;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 12rem;
}

/* Add a semi-transparent black overlay to the hero section */
.hero-section::before {
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 12rem;
}
/* Style the hero content */








/*===== HIGLIGHT SECTION ===== */

.highlight {
    display: flex;
    font-size: 6rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
    align-items: center;
    transition: background-color 0.2s ease, color 0.2s ease; 
    cursor: pointer;
}


.highlight img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    transition: transform 0.1s ease; 
}

.highlight img:hover {
    transform: scale(1.5); 
}


.highlight p {
    font-size: 1.8rem;
    text-align: center;
}

.highlight p {
    font-size: 1.8rem;
    text-align: center;
    transition: transform 0.2s ease; 
}

.highlight p:hover {
    color: var(--background-color);
    transform: scale(1.1); 
    cursor: pointer;
}


/* ==== STYLING THE TOP NOTCH BUSINESS AREA ==== */



/* ==== TOP NOTCH STYLES SECTION ==== */

.business-category-section{
    margin-top: 50px;
    justify-content: space-between;
}

.business-post-category h3,
.db-ads-left img,
.db-ads-right img {
    margin-bottom: 20px; 
    font-size: 4rem;
}

.db-ads-left,
.db-ads-right {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 150px;
}

.db-ads-left img,
.db-ads-right img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.db-ads-left img:hover,
.db-ads-right img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}



.item-icon{
    align-items: center;
    text-align: center;
}

.item-icon a{
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 2rem;
    white-space: break-spaces;
}

.business-category-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.category-item {
    padding: 10px; 
    border-radius: 10px; 
    text-align: center; 
    border-bottom: 2px solid rgb(216, 201, 201);
    border-right: 2px solid rgb(216, 201, 201);
    margin-top: 50px;
}

.item-icon {
    font-size: 1rem; 
    margin-bottom: 10px; 
}

.item-icon i {
    color: orangered; 
}

.category-item a {
    font-size: 1rem; 
    margin: 0; 
    white-space: break-spaces;
}


/* ==== TOP RECOMMENDED SECTION STYLES ==== */
.recommended-items-container{
    margin-top: 100px;
    margin-bottom: 40px;
}

.recommended-items-container h3{
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.show-items-container,
.txt-browse-items-link {
    display: flex;
    justify-content: space-between;
    background: url(/images/section-bg.png) no-repeat center center;
    background-size: cover; 
    align-items: flex; 
}




.txt-browse-items-link{
    padding: 2rem 7%;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.item-category {
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white;
    flex-direction: column;
}

.item.cat-img img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.itemtitle h5 {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    padding: 0;
}

.item-category img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item-category h5 {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin: 0; 
    margin-bottom: 0;
    padding: 0;
}


.item-list{
    padding: 2rem 7%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item-list-ads img{
    max-width: 350px;
    height: auto;
    margin-top: -140px;
    padding-right: 60px;
}

.txt-browse-items-link{
    color: orangered;
}

.txt-browse-items-link p{
    font-size: 3.2rem;
}

.txt-why-container{
    background-color: darkblue;
}


.txt-why-essential{
    max-width: 800px;
    padding: 2rem 7%;
    
}


.txt-why-essential h3{
    font-size: 4rem;
    margin-bottom: 10px;
    color: orangered;
}

.txt-why-essential p{
    font-size: 2rem;
    text-align: justify;
    color: white;
}


/* ===== MAXIMIZE SECTION STYLES==== */
.maximize,
.registration{
    display: flex;
    justify-content: space-between;
    padding: 2rem 7%;
    align-items: center;
}

.txt-maximize,
.txt-reg{
    max-width: 600px;
}

.txt-maximize h3,
.txt-reg{
    font-size: 4rem;
    margin-top: 70px;
}

.maximize p,
.txt-reg p{
    margin: 12px;
    font-size: 1.8rem;
}

/* ===== REGISTRATION SECTION ====== */
.registration{
    background-color: rgba(255, 68, 0, 0.897);
}

.reg-img {
    position: relative;
}

.reg-shadow {
    position: absolute;
    bottom: 5; /* Move it to the bottom */
    left: 0; /* Move it to the left */
    
    opacity: 0.5;
}

/* ===== TRENDING POST SECTION ====== */
.trending-post-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    max-width: 1000px; 
    margin: 0 auto; 
}

#txt-trending-post{
    margin-top: 5rem;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem 7%;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.post {
    text-align: center;
    background-color: #f8f8f8; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.post-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.post-title h3 {
    margin-top: 15px; 
    font-size: 2.5rem; 
}

.post-link{
    font-size: 1.5rem;
    margin-top: 25px;
    word-spacing: 10px;
}
.post-link a {
    color: orangered; 
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.post-link a:hover {
    text-decoration: underline; 
}

